$variant: 'dark';

@import "gnome-shell-sass/_high-contrast-colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";

.toggle-switch { width: 48px; }
.toggle-switch {
  background-image: url("resource:///org/gnome/shell/theme/toggle-off-hc.svg");
  &:checked { background-image: url("resource:///org/gnome/shell/theme/toggle-on-hc.svg"); }
}

//force opaque panel
#panel {
  &, &.background-bright, &.background-dark, &.background-noisy {
    @include panel(high-contrast);
  }

  &:overview, &:overview.background-noisy {
    @include panel(high-contrast);
  }

  // TODO: screen-shield class may have gone away?
  &.lock-screen, &.login-screen, &.unlock-screen {
    @include panel(login-screen);

    &.screen-shield {
      &, &.background-bright, &.background-dark, &.background-noisy {
        @include panel(high-contrast);
      }
    }
  }
}

//thumbnail app icons no dropshadow and forced color
.window-picker .icon-dropshadow {
  icon-shadow: none;
  background-color: $osd_bg_color;
  padding: $base_padding * 2;
  border-radius: $modal_radius;
}
